*, *::before, *::after {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  background-color: #143F6B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}
html, container, body {
  /* background-color:#18dcff!important; */
  background-color: #ffb8b8 !important; 

}
.white {
  --width: 50px;
  background-color: white;
  /* background-color: #18dcff;  */
  border: 1px solid #ccc;
  /* border: 1px solid #ff4d4d; */
}

.blue {
  background-color: #17c0eb  !important;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 30px;
  background-color: black;
  /* background: #ff3838; */
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

#currKey {
  /* position: absolute; */
  /* margin-bottom: 30%; */
  /* margin-left: -5%; */
  padding: 1%;
  background-color:  #FFFFFF;
  color: #143F6B;
}
#c{
  width: 100%;
  /* height: 328px; */
}
#img{
  display: none;
  width: 100%;
}
.types{
  margin: 0.5em auto;
}