*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #143F6B;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 50px;
  background-color: white;
  border: 1px solid #333;
}

.blue {
  background-color: lightblue !important;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 30px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

#currKey {
  position: absolute;
  margin-bottom: 30%;
  margin-left: -5%;
  padding: 1%;
  background-color:  #FFFFFF;
  color: #143F6B;
}